doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="index.scss")
    body
        main
            aside
                img(src="https://github.com/Denperidge.png" alt="Denperidge's profile picture")
                h1 Hi! I'm Denperidge!
                span This webportal is still under construction but I at least wanted to have the links together you know 
            section
                nav You can find me in a few places:
                    ul 
                        each nav in data.nav
                            li
                                - 
                                    let description;
                                    if (nav.url) description = nav.description.replace(nav.name, `<a href="${nav.url}">${nav.name}</a>`);
                                    else description = nav.description
                                span !{description}
         script(defer data-domain="denperidge.com" src="https://plausible.denperidge.com/js/script.js")
